<h1>Map Options</h1>
<h2>Option 1: Google Maps Platform</h2>
<h3>Summary</h3>
<p>Google maps is the first choice that comes to mind when considering adding a map in any context. Using the <a href="https://developers.google.com/maps/documentation/javascript/overview">Maps JavaScript API</a>, we are able to include a google map on our website that may be loaded by a JavaScript function after a page loads. To display a custom marker like a business on our Google map, we must first geocode our address into geographic coordinates (latitude and longitude). To reduce API calls (and therefore cost), we may save the geocoded coordinates in our database, only calling the API when an address is created or changed. The Google Maps Platform offers a <a href="https://developers.google.com/maps/documentation/geocoding/overview">Geocoding API</a> which we may use to accomplish this task. The Google Maps JavaScript API also features a <a href="https://developers.google.com/maps/documentation/javascript/directions">Directions</a> service which allows for the rendering of routes between two or more points.</p>

<h3>Pricing</h3>
<p>Pricing is where the Google Maps Platform falls short. The maps service alone is </p>