@{
    ViewData["Title"] = "Webstore Options";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Webstore Options</h1>
<h2>Option 1: Stripe</h2>
<h3>Summary</h3>
<p>Stripe is an online payment processing software that offers the ability for websites to implement e-commerce. This payment processing service is reputable with business such as Amazon, Zoom, Lyft and  <a href="https://stripe.com/customers">many others.</a> This option also has the ability to set up a <a href="https://stripe.com/use-cases/marketplaces">marketplace</a> on a website where they offer everything you need to onboard service providers, manage payments and send payouts out.</p>
<small>Stripe also offers very detailed and extensive developer <a href="https://stripe.com/docs">documentation</a> that can allow for fast and easy implementation.</small>

<h3>Pricing</h3>
<p>As for pricing, Stripe let's their customers have access a complete payments platform with pay-as-you-go pricing. They state that their are no hidden fees, monthly fees or setup fees to use their service. Instead, Stripe charges 2.9% + 0.30 for each successful transaction. They also offer a <i>'customized option'</i> if there is a need to design a custom package for your business. Here is a <a href="https://stripe.com/pricing">link</a> to view the pricing information.</p>

<h3>Example</h3>
<p>Below are some examples of how an implementation might look</p>
<div class="uk-child-width-expand@s uk-text-center" uk-grid>
     <div>
         <img src="https://i.imgur.com/y6OuE0o.png" alt="" style="height: 500px;">
     </div>
     <div>
         <img src="https://i.imgur.com/QaClh0C.png" alt="" >
     </div>
</div>


<h2>Option 2: Square </h2>
<h3>Summary</h3>
<p>Another option for an online payment processing software is <a href="https://squareup.com/us/en">Square</a>. Square is also a well known payment processing service that is used by many businesses. One downside to this option is that this service focuses more on a single business selling products, rather than multiple businesses selling products from one website. </p>


<h3>Pricing</h3>
<p>As for pricing, their model is more in-depth than Stripes pricing model but is the same as Stripe's pricing for the implementation that would be done on the website (2.9% + 0.30 for every payment you take using Square Online Store, eCommerce integrations, or online payment APIs)</p>


<h3>Example</h3>
<p>A screenshot of a basic payment form <a href="https://developer.squareup.com/docs/online-payment-options">implementation</a> from Square's documentation that can be styled to match the websites design.</p>
<img src="https://i.imgur.com/VPAy0bz.png" alt="" style="height: 500px;">

<h3>Recommendation</h3>
<p>Of these two options, the Stripe payment service would be the recommended option to implement into the website. The extensive documentation they provide would allow for a faster implementation of a webstore to the site. The ability to set up a marketplace for business to sell their own products on is also an additional benefit to Stripe's software. And since both are priced at the same 2.9% + 0.30 for each transaction, there is no incentive as far as pricing to choose one over the other.</p>