/* Mobile-specific Styling */
@media (max-width: 765px) {
    .hidden-mobile {
    display: none;
    }
    .uk-accordion_custom {
        padding: 0 0.5em 0 0.5em !important;
    }
    .uk-accordion-title {
        height: 14rem;
    }
    .logout-btn {
        padding: 0 !important; 
    }
    .image-cover {
        height: 14rem;
    }

    .uk-tile {
        border-radius: 10px;
        margin: 1em 0.5em 2em 0.5em;
    }
    .slideshow-content {
        /* padding: 1em 2em 1em 2em; */
        /* margin: 2em 0.5em 2em 0.5em; */
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .social-stream {
        padding: 0 0.5em 0 0.5em;
    }
    #map {
        width: 100%;
        height: 250px;
    }
}

/* Desktop-specific CSS Styling */
@media (min-width: 767px) {
    .hidden-desktop {
    display: none;
    }
    .uk-accordion_custom {
        padding: 0 2em 0 2em !important;
    }
    .image-cover {
        height: 300px;
    }
    .uk-tile {
        border-radius: 10px;
        margin: 1em 4em 1em 4em;
    }
    .slideshow-content {
        /* padding: 2em 4em 2em 4em; */
        padding-left: 0em;
        padding-right: 0em;
    }
    .social-stream {
        padding: 0 0em 5em 0em;
    }
    #map {
        width: 100%;
        height: 500px;
    }
}

/* --- Universal Styling --- */

/* Font Styling */
body {
    font-family: 'Noto Sans JP', sans-serif;
}

.custom-header {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
}


/* Button Styles */
.uk-button {
    border-radius: 10px;
}
.uk-select, .uk-input, .uk-textarea  {
    border-radius: 10px;
}
.uk-checkbox {
    border-radius: 2px;
}


/* Accordion Styles */
.uk-accordion {
    margin-bottom: 2em;
}
.accordion-title-card {
    background-color: #000; 
    padding: 1em 3em 1em 3em; 
    border-radius: 10px; 
    opacity: 0.9;
}
.accordion-width {
    width: 90%;
}

.accordion-content_container {
    margin: 2em 0 2em 0;
}

/* Custom Button */
.logout-btn {
    color: #999; 
    font-size: 0.875rem; 
    line-height: 1.5; 
    border:none; 
    font-weight: 400; 
    background-color: transparent;
    padding: 2em 0 2em 0; 
}
.logout-btn:hover {
    color: #666;
    text-decoration: none;
}

/* Custom Image Cover */
.image-container {
    margin-top: 2em;
}
.image-cover {
    /* height: 14rem; */
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0.7);
    color: #fff; 
    border-radius: 10px
}

/* Slideshow  */
.slideshow-content {
    padding-top: 2em;
    padding-bottom: 2em;
}

/* Google Maps */
#map {
    margin: auto;
}
