@model String

@{
    ViewData["Title"] = "Home Page";
    var components = ViewData["Components"] as Component[];
    var MainTextBox = components.Where(a => a.Name == "Main Text Box").Single();
    var Gallery = components.Where(a => a.Name == "Homepage Carousel").Single();
}

<div class="slideshow-content">
    <div class="uk-margin" uk-slideshow>
        <div class="slideshow" uk-slideshow="autoplay: true; autoplay-interval: 6000; pause-on-hover: false; animation: pull">
            <ul class="uk-slideshow-items">
                @foreach (var img in Gallery.ComponentImages)
                {
                    <li>
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(img.Image)" uk-cover>
                    </li>
                }
                @if (Gallery.ComponentImages.Count == 0)
                {
                    <li>
                        <img src="assets/Homepage/slide-1.jpg" alt="Western Oregon University (evening)" uk-cover>
                    </li>
                    <li>
                        <img src="assets/Homepage/slide-2.jpg" alt="Ariel Image of Polk County vineyard" uk-cover>
                    </li>
                }
            </ul>
            <div class="uk-card uk-card-hover uk-card-default uk-card-body">
                <h5 class="uk-card-title uk-text-center" style="font-size: 1.2em;">WELCOME TO MONMOUTH<strong>INDEPENDENCE</strong></h5>
            </div>
        </div>
    </div>
</div>

<div class="home-tile">
    <div class="uk-tile uk-tile-muted">
        <p class="uk-h4 uk-text-center">@MainTextBox.ComponentTexts.Text</p>
    </div>
</div>

<div class="home-tile">
    <div class="uk-tile uk-tile-secondary">
        <p class="uk-h1 uk-text-center" style="font-family: 'Bebas Neue';">EXPLORE #WOUWOLVES</p>
    </div>
</div>


<div class="social-stream">
    <script async src="https://walls.io/js/wallsio-widget-1.2.js" data-wallurl="https://my.walls.io/c4y29?nobackground=1&amp;show_header=0&amp;initial_posts=5" data-width="100%" data-autoheight="1" data-height="100"></script>
</div>

<div id="map"></div>

@section Scripts {
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@(Model)&callback=initMap&libraries=&v=weekly" async></script>
}
