
<div class="image-container">
    <div class="image-cover" data-src="/assets/Water-Trail/WillametteKayak.webp" data-sizes="(min-width: 650px) 650px, 100vw" uk-img>
        <div class="accordion-title-card">Willamette River Water Trail</div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-about-tab" data-toggle="pill" href="#v-pills-about" role="tab" aria-controls="v-pills-about" aria-selected="true">About</a>
            <a class="nav-link" id="v-pills-rentals-tab" data-toggle="pill" href="#v-pills-rentals" role="tab" aria-controls="v-pills-rentals" aria-selected="false">Water Craft Rentals</a>
            <a class="nav-link" id="v-pills-before-tab" data-toggle="pill" href="#v-pills-before" role="tab" aria-controls="v-pills-before" aria-selected="false">Before You Go</a>
            <a class="nav-link" id="v-pills-start-tab" data-toggle="pill" href="#v-pills-start" role="tab" aria-controls="v-pills-start" aria-selected="false">Where to Start / Lodging</a>
            <a class="nav-link" id="v-pills-eat-tab" data-toggle="pill" href="#v-pills-eat" role="tab" aria-controls="v-pills-eat" aria-selected="false">Where to Eat</a>
            <a class="nav-link" id="v-pills-map-tab" data-toggle="pill" href="#v-pills-map" role="tab" aria-controls="v-pills-map" aria-selected="false">Map</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">

            <div class="tab-pane fade show active" id="v-pills-about" role="tabpanel" aria-labelledby="v-pills-about-tab">
                <p>It’s not an exaggeration to say that without the Willamette River, the valley that shares its name would look far different today. It was the river’s fertile farmlands and floodplains, after all, that made it such an appealing home for generations of Native Americans and Oregon Trail emigrants. And easy river access has long made it possible to travel around Eugene, Albany, Independence, and Salem—all cities through which the Willamette River flows today.</p>
                <p>The Willamette River isn’t the shipping channel it once was—but crops grown in the surrounding valley continue to reach consumers around the world today. And, not for nothing, but the river is a vibrant source of recreation for countless locals and visitors all year long.</p>
                <p>Fed by mountain tributaries south of Eugene, the Willamette River flows northward for nearly 200 miles before emptying into the Columbia River near Portland. Along the way, it passes through cities large and small, boasts dramatic wildlife viewing opportunities, offers all manner of outdoor recreation, and showcases the natural beauty of the iconic Willamette Valley.</p>
            </div>

            <div class="tab-pane fade" id="v-pills-rentals" role="tabpanel" aria-labelledby="v-pills-rentals-tab">
                <p>
                    Please consult the official Willamette Water Trail website, which lists gear essentials; showcases an interactive map full of campsites, restrooms, docks, and other resources; and offers tips for getting started (like understanding your options for a shuttle).
                    For anything more than an afternoon float, you may want to rent gear from a local outfitter or arrange for a guide. Here’s a quick rundown of outfitters and guides in Polk County:
                </p>
                <p>Woodward Surf Company Serving the heart of Salem, Woodward Surf Company rents kayaks and stand-up paddleboards—and offers limited shuttle service options for renters.</p>
                <p>Salem Kayak Rentals LLC Also based in Salem, Salem Kayak Rentals LLC rents kayaks and stand up paddleboards. Tours and shuttle services are available.</p>
            </div>

            <div class="tab-pane fade" id="v-pills-before" role="tabpanel" aria-labelledby="v-pills-before-tab">
                Before you go
            </div>

            <div class="tab-pane fade" id="v-pills-start" role="tabpanel" aria-labelledby="v-pills-start-tab">
                Where to start
            </div>

            <div class="tab-pane fade" id="v-pills-eat" role="tabpanel" aria-labelledby="v-pills-eat-tab">
                <p>
                    Rogue Farms

                    3590 Wigrich Rd. NE, Independence
                    503.838.9813

                    rogue.coms
                </p>
                <p>
                    Independent Ice Cream Shop

                    226 S. Main St., Independence

                    503.877.7590

                    facebook.com/independenticecreamshop
                </p>
                <p>
                    Territory Restaurant

                    201 Osprey Lane, Independence

                    503.837.0200

                    territoryrestaurant.com
                </p>
                <p>
                    The Valkyrie Wine Tavern

                    301 S. Main St., Independence

                    503.837.0505
                </p>
            </div>

            <div class="tab-pane fade" id="v-pills-map" role="tabpanel" aria-labelledby="v-pills-map-tab">
                <div class="river-map">
                    <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1tB6w4zJVSa_Y2IUEKWKFxRv9XndC2t1V" width="640" height="480"></iframe>
                </div>
            </div>

        </div>
    </div>
</div>

