@{
    ViewData["Title"] = "Credits";
}

<div class="home-tile">
    <div class="uk-tile uk-tile-muted">
        <p class="uk-h4 uk-text-center">Credits</p>
    </div>
</div>

<div class="home-tile">
    <div class="uk-tile uk-tile-muted">
        <p class="uk-h5">This project is created to meet the requirements for Western Oregon University's Computer Science Major for 2021. The project is the a culmination of Western Oregon's Software Engineering I, II, and III sequence and is the Senior Capstone project for this team. This project was requested to be made by the Monmouth Chamber of Commerce so visitors to the area can keep updated on local events and attractions, find places to dine and stay overnight, discover outdoor recreation, and create detailed itineraries. Below are all the contributors who made this site possible.</p>
    </div>
</div>


<div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
    <div class="home-tile">
        <div class="uk-tile uk-tile-muted">
            <p class="uk-h4 uk-text-center">Kelby Evans</p>
            <a href="https://github.com/kelbyevans" class="uk-icon-button" uk-icon="github"></a>GitHub Profile
        </div>
    </div>
    <div class="home-tile">
        <div class="uk-tile uk-tile-muted">
            <p class="uk-h4 uk-text-center">Quincey Freeman</p>
            <a href="https://github.com/quinceyfreeman" class="uk-icon-button" uk-icon="github"></a>GitHub Profile
        </div>
    </div>
</div>

<div class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
    <div class="home-tile">
        <div class="uk-tile uk-tile-muted">
            <p class="uk-h4 uk-text-center">John Kirk III</p>
            <a href="https://github.com/jkirkiii19" class="uk-icon-button" uk-icon="github"></a>GitHub Profile
        </div>
    </div>
    <div class="home-tile">
        <div class="uk-tile uk-tile-muted">
            <p class="uk-h4 uk-text-center">Jason Weber</p>
            <a href="https://github.com/jasonweber99" class="uk-icon-button" uk-icon="github"></a>GitHub Profile
        </div>
    </div>
</div>

<div class="home-tile">
    <div class="uk-tile uk-tile-muted">
        <p class="uk-h4 uk-text-center">Project Repository</p>
        <p class="uk-h5 uk-text-center">Visit our project repository to see how this site was made.</p>
        <div class="uk-text-center">
            <a href="https://github.com/jasonweber99/Douglas-and-Fir-LLC" class="uk-text-center uk-icon-button" uk-icon="github"></a>Project Repository
        </div>
    </div>
</div>