<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MIVisitorCenter</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* Importing Fonts *@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    @* UIKit CSS *@
    <link rel="stylesheet" href="~/lib/uikit-3/css/uikit.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>

        @* For Mobile Responsiveness, we need to create an off-canvas nav that is hidden on desktop. *@
        @* As a result, we need to update the links for both the desktop nav as well as the off-canvas nav *@
        <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
            <nav class="uk-navbar-container uk-margin" uk-navbar>

            <div class="nav-overlay uk-navbar-left">
                <div class="uk-nav-left">
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a asp-controller="Home" asp-action="Index">Monmouth<strong>Independence</strong></a></li>
                        <li class="uk-parent uk-visible@m" ><a class="nav-link" href="">What To Do</a></li> 
                        <div uk-dropdown>
                            <ul class="uk-nav uk-dropdown-nav">
                                <li><a class="nav-link" asp-controller="Businesses" asp-action="OutdoorRecreation">Recreation</a></li>
                                <li><a class="nav-link" asp-controller="Businesses" asp-action="EatAndDrink">Eat &#38; Drink</a></li>
                                <li><a class="nav-link" asp-controller="Businesses" asp-action="ArtAndCulture">Art and Culture</a></li>
                                <li><a class="nav-link" asp-controller="Businesses" asp-action="WaterTrail">Willamette Water Trail</a></li>
                                <li><a class="nav-link" asp-controller="Businesses" asp-action="FoodTrail">Great Oaks Food Trail</a></li>
                            </ul>
                        </div>
                        <li class="uk-parent uk-visible@m"><a class="nav-link" asp-controller="Businesses" asp-action="Lodging">Where to Stay</a></li>
                        <li class="uk-parent uk-visible@m"><a class="nav-link" asp-controller="Itinerary" asp-action="PlanATrip">Plan a Trip</a></li>
                    </ul>
                </div>
            </div>
        
            <div class="nav-overlay uk-navbar-right">
                <a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#" id="openSearch"></a>
                <div class="uk-navbar-right">
                     <ul class="uk-navbar-nav uk-visible@m">
                        <partial name="_LoginPartialDesktop" />
                    </ul>
                    <a href="#" class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-nav"></a>
                </div>
            </div>
        
            @* <!-- Search Component --> *@
            <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
                <div class="uk-navbar-item uk-width-expand">
                    <form class="uk-search uk-search-navbar uk-width-1-1">
                        <input id='search' class="uk-search-input" type="search" placeholder="Search for business" autofocus>
                    </form>
                </div>
                <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#" id="closeSearch"></a>
            </div>

            @* <!-- Mobile Navigation Component --> *@
            <div id="offcanvas-nav" uk-offcanvas="overlay: true">
                <div class="uk-offcanvas-bar">
                    <ul class="uk-nav uk-nav-default">
                        <li class="uk-active"><a href="">MONMOUTH<strong>INDEPENDENCE</strong></a></li>
                        <li class="uk-parent">
                            <a href="#">What to Do</a>
                            <ul class="uk-nav-sub">
                                <li><a asp-controller="Businesses" asp-action="OutdoorRecreation">Recreation</a></li>
                                <li><a asp-controller="Businesses" asp-action="EatAndDrink">Eat &#38; Drink</a></li>
                                <li><a asp-controller="Businesses" asp-action="ArtAndCulture">Art and Culture</a></li>
                                <li><a asp-controller="Businesses" asp-action="WaterTrail">Willamette Water Trail</a></li>
                                <li><a asp-controller="Businesses" asp-action="FoodTrail">Great Oaks Food Trail</a></li>
                            </ul>
                        </li>
                        <li class="uk-parent"><a asp-controller="Businesses" asp-action="Lodging">Where to Stay</a></li>
                        <li class="uk-parent"><a asp-controller="Itinerary" asp-action="PlanATrip">Plan a Trip</a></li>
                        <li class="uk-nav-header">Account</li>
                        <li class="uk-nav-divider"></li>
                        <partial name="_LoginPartialMobile" />
                    </ul>
                </div>
            </div>


            @* <!-- Search Results Table --> *@
            <div id="search-table" class="search-table uk-hidden">
                <table id="resultsTable" class="uk-table uk-table-middle uk-table-divider">
                    <thead>
                        <tr>
                            <th class="uk-table-expand">Results</th>
                            <th class="uk-width-small"></th>
                        </tr>
                    </thead>
                    <tbody id="match-list">
                    </tbody>
                </table>
            </div>
        
        </nav>

        </div>
    </header>
        
    <div class="page-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="uk-section uk-section-muted uk-section-xsmall uk-position-bottom">
        <div class="uk-container">
            <div class="container text-muted">
                <a class="uk-text-right" asp-controller="Credits" asp-action="Credits">&copy; 2021 - Douglas and Fir, LLC</a>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/search.js" asp-append-version="true" type="module"></script>
    <script src="~/lib/uikit-3/js/uikit.min.js"></script>
    <script src="~/lib/uikit-3/js/uikit-icons.min.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
